body {
    background-color: darkgreen;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  
  .logo{
    position: absolute;
    left: 600px;
    top: 275px;
    z-index: 3;
  }

  .mesa{
    position: absolute;
    top: 500px;
    left: 265px;
    width: 1300px;
    height: 300px;
    z-index: 2;
  }

  .monedas{
    position: absolute;
    top: 150px;
    left: 400px;
  }

  .monedas2{
    position: absolute;
    top: 150px;
    left: 900px;
    transform: scaleX(-1);
  }


  /* Animación para los botones */
  button {
    background-color: gold;
    color: black;
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 18px;
    border-radius: 20px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
  }

  .jugar{
    position: absolute;
    top: 800px;
    left: 800px;
  }

  .ayuda{
    position: absolute;
    top: 800px;
    left: 980px;
  }
  
  button:hover {
    background-color: orange;
    transform: scale(1.1);
  }
  
  button:active {
    transform: scale(0.95);
  }
  
  /* Animación para las cartas */
  .card-row {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 10px 0;
    opacity: 0; /* Iniciar invisibles */
    animation: fadeIn 0.5s forwards; /* Aparecer con una animación */
  }
  
  .card-row img {
    width: 100px;
    border-radius: 8px;
    animation: cardAnimation 1s ease-out;
  }
  
  /* Animación de aparición de las cartas */
  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }
  
  @keyframes cardAnimation {
    0% {
      transform: scale(0) rotate(90deg);
      opacity: 0;
    }
    100% {
      transform: scale(1) rotate(0);
      opacity: 1;
    }
  }
  
  /* Animación de los botones cuando se hacen clic */
  button:focus {
    outline: none;
  }
  